{
    "singleQuote": false,
    "trailingComma": "all",
    "printWidth": 150,
    "semi": true,
    "tabWidth": 4,
    "options": {
        "editorconfig": true
    },
    "plugins": ["prettier-plugin-tailwindcss"]

}
