.atmua-input {
    span {
        display: inline-block;
    }

    span.disabled {
        color: #b7b7b7;
    }

    input.has-error {
        border: 1px solid #ef233c;
    }

    input.disabled {
        background-color: #f9f9f9;
        cursor: not-allowed;
    }
}
