.checkbox {
    padding: 0;
    margin: 0;
    input[type="checkbox"] {
        /* Add if not using autoprefixer */
        -webkit-appearance: none;
        appearance: none;
        /* For iOS < 15 to remove gradient background */
        background-color: #fff;
        /* Not removed via appearance */
        margin: 0;

        border-radius: 100%;
        border: 1px solid #CACACA;

        cursor: pointer;
        transition: .2s linear;
    }

    input[type="checkbox"]:checked {
        border-width: 10px;
        border-color: var(--primary);
    }
}

@media screen and (max-width: 768px) {
    .checkbox {
        input[type="checkbox"] {
            width: 24px;
            height: 24px;
            border-radius: 24px;
        }

        input[type="checkbox"]:checked {
            border-width: 5px;
        }
    }
  }